# H1:  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
-----------------------------
Apache Hadoop
Apache Hive
Apache Spark
MySQL
MongoDB
Microsoft Visual Studio Code
Jupyter Notebook

### H3: Below are a few examples of evaluating arithmetic expressions in Python
1. 2+3         i.e addition
2. 4-2         i.e subtraction
3. 3*7         i.e multiplication
4. 8/4         i.e division

In [5]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
x = 200/60
print(x,'hours')

3.3333333333333335 hours